{% extends 'base.html.twig' %}

{% block title %} {{ category }}{% endblock %}

{% block body %}
    <div class="media">
        <h1>Voici la liste des 3 catégories: {{  category }}</h1>
        {% for programme in program %}
         </div>

        <div class="media-body">
            <h2>Serie : {{ programme.id }} {{ programme.title }}</h2>
            <p>{{ programme.summary }}</p>
            <a href="">Voir les épisodes</a>
            <br/>
            <hr>
            {% endfor %}
        </div>

{% endblock %}



